nav {
  background-color: #ccc;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
nav > a {
  text-decoration: none;
  color: #333;
  padding: 20px;
  display: inline-block;
}
a:hover {
  color: white;
  background-color: black;
}
